.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 40px auto;
  position: relative;
  padding: 20px;
}

.quote-start, .quote-end {
  font-size: 40px;
  color: #28a745;
  font-weight: bold;
  line-height: 0.5;
}

.quote-text {
  font-style: italic;
  font-size: 40px;
  line-height: 36px;
  color: #2C2C2C;
  margin: 10px 0;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .quote-text {
    font-size: 20px;
    line-height: 30px;
  }

  .quote-start, .quote-end {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .quote-text {
    font-size: 18px;
    line-height: 28px;
  }

  .quote-start, .quote-end {
    font-size: 24px;
  }
}
